In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!

df = pd.read_csv(Path("lending_data.csv"))

# Review the DataFrame
# YOUR CODE HERE!
df.sample(100)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
67474,9600.0,7.194,48300,0.378882,4,0,18300,0
23050,8300.0,6.653,43200,0.305556,2,0,13200,0
51239,9700.0,7.260,48900,0.386503,4,0,18900,0
16024,8900.0,6.896,45500,0.340659,3,0,15500,0
63381,8200.0,6.604,42700,0.297424,2,0,12700,0
...,...,...,...,...,...,...,...,...
39526,9500.0,7.166,48000,0.375000,4,0,18000,0
6962,11100.0,7.841,54400,0.448529,5,1,24400,0
25993,8200.0,6.594,42700,0.297424,2,0,12700,0
26773,10400.0,7.561,51800,0.420849,4,1,21800,0
2235,7800.0,6.428,41100,0.270073,2,0,11100,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = df['loan_status']

# Separate the X variable, the features
# YOUR CODE HERE!
X = df.drop(columns='loan_status')

In [4]:
# Review the y variable Series
# YOUR CODE HERE!
y.sample(10)

17984    0
44599    0
38018    0
8977     0
42781    0
76430    1
41954    0
37147    0
50930    0
26639    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
# YOUR CODE HERE!
X.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
11967,9700.0,7.238,48700,0.383984,4,0,18700
42003,9100.0,7.007,46500,0.354839,3,0,16500
10839,9300.0,7.086,47300,0.365751,3,0,17300
56007,11000.0,7.817,54200,0.446494,5,1,24200
37463,9000.0,6.947,46000,0.347826,3,0,16000
4607,9900.0,7.349,49800,0.397590,4,0,19800
41013,8800.0,6.861,45200,0.336283,3,0,15200
70377,10200.0,7.475,50900,0.410609,4,1,20900
25520,19300.0,11.317,87100,0.655568,12,2,57100
5378,9700.0,7.231,48600,0.382716,4,0,18600

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
# YOUR CODE HERE!
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
#model = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1.)
model = LogisticRegression(random_state=1)

# Fit the model using training data
# YOUR CODE HERE!
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
# YOUR CODE HERE!

y_pred = model.predict(X_test)
pd.DataFrame({
    "Pred" : y_pred,
    "Actuals" : y_test
})

       Pred  Actuals
60914     0        0
36843     0        0
1966      0        0
70137     0        0
27237     0        0
...     ...      ...
45639     0        0
11301     0        0
51614     0        0
4598      0        0
2793      0        0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [10]:
from sklearn.metrics import accuracy_score

# Print the balanced_accuracy score of the model
# YOUR CODE HERE!

balanced_accuracy_score(y_test, y_pred)

0.9520479254722232

In [11]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
confusion_matrix(y_test, y_pred)

array([[18663,   102],
       [   56,   563]])

In [12]:
# Print the classification report for the model
# YOUR CODE HERE!
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!  The confusion matrix indicates good predictability with high occurence of true positives and true negatives . Predictability of healthy loans has precision of 1.0 (meaning 100%) . Conversely predictability of high-risk loans is less easily apparent with precision of 85% , which is unfortunate since there is worse outcomes with successive high-risk loans that fail - especially if they all (15% minimum) fail at once.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [14]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

random_os_model = RandomOverSampler(random_state=1)


# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!
#ros = RandomOverSampler(sampling_strategy=sampling_strategy)
X_res, y_res = random_os_model.fit_resample(X_train, y_train)

In [16]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!

y_res.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using the resampled training data
# YOUR CODE HERE!

# Make a prediction using the testing data
# YOUR CODE HERE!

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [ ]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!

In [ ]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

In [ ]:
# Print the classification report for the model
# YOUR CODE HERE!

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!