In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [9]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!

df = pd.read_csv(Path("./lending_data.csv"))

# Review the DataFrame
# YOUR CODE HERE!
df.sample(100)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
30763,11500.0,8.003,55900,0.463327,5,1,25900,0
34502,8000.0,6.530,42000,0.285714,2,0,12000,0
14294,11100.0,7.823,54200,0.446494,5,1,24200,0
21274,9100.0,6.999,46500,0.354839,3,0,16500,0
15018,10600.0,7.641,52500,0.428571,5,1,22500,0
...,...,...,...,...,...,...,...,...
9679,10600.0,7.628,52400,0.427481,5,1,22400,0
59200,11600.0,8.038,56200,0.466192,5,1,26200,0
49223,9700.0,7.236,48700,0.383984,4,0,18700,0
44489,11200.0,7.888,54800,0.452555,5,1,24800,0
38244,8800.0,6.850,45100,0.334812,3,0,15100,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [10]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = df['loan_status']

# Separate the X variable, the features
# YOUR CODE HERE!
X = df.drop(columns='loan_status')

In [12]:
# Review the y variable Series
# YOUR CODE HERE!
y.sample(10)

69617    0
66278    0
21932    0
9504     0
16835    0
61988    0
24015    0
14025    0
801      0
43188    0
Name: loan_status, dtype: int64

In [13]:
# Review the X variable DataFrame
# YOUR CODE HERE!
X.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
43182,8700.0,6.814,44700,0.328859,3,0,14700
50675,8000.0,6.545,42200,0.289100,2,0,12200
15526,17600.0,10.586,80200,0.625935,11,2,50200
10995,9400.0,7.141,47800,0.372385,4,0,17800
35174,10800.0,7.707,53100,0.435028,5,1,23100
38519,7500.0,6.304,39900,0.248120,2,0,9900
53695,8500.0,6.727,43900,0.316629,3,0,13900
63326,9900.0,7.325,49500,0.393939,4,0,19500
11937,8500.0,6.731,43900,0.316629,3,0,13900
15723,7000.0,6.110,38100,0.212598,1,0,8100

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [14]:
# Check the balance of our target values
# YOUR CODE HERE!
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [18]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [20]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
#model = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1.)
model = LogisticRegression(random_state=1)

# Fit the model using training data
# YOUR CODE HERE!
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [21]:
# Make a prediction using the testing data
# YOUR CODE HERE!

y_pred = model.predict(X_test)
pd.DataFrame({
    "Pred" : y_pred,
    "Actuals" : y_test
})

       Pred  Actuals
60914     0        0
36843     0        0
1966      0        0
70137     0        0
27237     0        0
...     ...      ...
45639     0        0
11301     0        0
51614     0        0
4598      0        0
2793      0        0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [22]:
from sklearn.metrics import accuracy_score

# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
accuracy_score(y_test, y_pred)

0.9918489475856377

In [ ]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

In [ ]:
# Print the classification report for the model
# YOUR CODE HERE!

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [ ]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!

ModuleNotFoundError: No module named 'imblearn'

In [ ]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using the resampled training data
# YOUR CODE HERE!

# Make a prediction using the testing data
# YOUR CODE HERE!

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [ ]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!

In [ ]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

In [ ]:
# Print the classification report for the model
# YOUR CODE HERE!

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!